
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}





.bar text{
    fill: #fff;
    font: 30px sans-serif;
}



#loading{
    visibility: hidden;
}

svg{
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30px;
}