
.bar {
    fill: #125E8A;
}

.bar:hover {
    fill: brown;
}

.bar text{
    fill: #fff;
    font: 30px sans-serif;
}

svg {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
    width: 960px;
    height: 500px;
    background-color: #87CEEB;
}

.center {
    text-align: center;
}

#loading{
    display: none;
    margin-left:auto;
}

body {
    background-color: #87CEEB;
}

input {
    background-color: #87CEEB;
}
